:root {
    --just-black: #000000;
    --hard-dark: #262526;
    --hard-gray: #403E3F;
    --easy-gray: #D9D9D9;
    --just-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--hard-dark);
    /* background-image: url('../assets/caratula.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed; */
}

h1, h2, h3, h4, h5, h6, p, span, input, a {
    font-weight: lighter;
    color: var(--just-white);
}

.header {
    display: grid;
    grid-template-columns: 60px 80px auto;
    place-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--easy-gray);
    position: sticky;
    top: 0;
    left: 0;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__menu-icon {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/menu-burger-free-icon-font.svg");
    cursor: pointer;
}

.header__logo {
    font-family: 'Koulen', cursive;
    font-size: 3.5rem;
    color: var(--just-black);
    cursor: pointer;
}

.search {
    width: 215px;
    display: flex;
    background-color: var(--hard-gray);
    height: 35px;
    padding: 0 7px;
}

.search__input {
    width: 90%;
    font-size: 1.6rem;
    margin-right: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search__icon {
    width: 10%;
    height: 20px;
    background-image: url("../assets/icons/search-free-icon-font1.svg");
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: var(--hard-dark);
    transition: width .5s;
    z-index: 3;
}

.menu__closebtn, .close-detail-section__closebtn {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 3.5rem;
    text-decoration: none;
}

.menu-list {
    width: 100%;
    height: 100%;
    margin-top: 35px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menu-list__category {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 7px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.menu-list__category:hover {
    background-color: var(--hard-gray);
}

/* main {
    margin-bottom: 120px;
} */

.welcome {
    font-family: 'Koulen', cursive;
    margin: 60px 0;
    text-align: center;
}

.welcome__title {
    font-size: 3.3rem;
}

.welcome__subtitle {
    font-size: 2.1rem;
}

.back-arrow {
    position: fixed;
    width: 45px;
    height: 45px;
    top: 68px;
    left: 5px;
    background-image: url('../assets/icons/arrow-small-left-free-icon-font.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.list-of-movies {
    margin-bottom: 20px;
}

.trending-preview__title, .favorite-movie__title {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 12px;
    margin-left: 10px;
}

.movies-container {
    display: flex;
    flex-direction: row;
    background-color: var(--hard-gray);
    padding: 10px;
}

.movies-container--horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-left: 15px;
    margin-bottom: 20px;
}

.movies-container--vertical {
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 720px;
    padding: 20px 0 0 0;
    margin: auto;
}

.movie {
    min-width: 170px;
    height: 240px;
    margin-bottom: 20px;
    animation-name: flicker;
    animation-duration: .7s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}

.movie:hover {
    transform: scale(1.1);
}

.movie--horizontal {
    margin-right: 15px;
    margin-bottom: 0;
    scroll-snap-align: center;
}

.movie--horizontal:last-child {
    margin-right: 0;
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-name {
    font-family: 'Koulen', cursive;
    font-size: 2.4rem;
    text-align: center;
    min-width: 130px;
    overflow-wrap: break-word;
}

.see-more {
    display: grid;
    place-items: center;
    min-width: 75px;
    height: 230px;
}

.see-more__icon {
    position: relative;
    margin-top: -20px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/angle-circle-right-free-icon-font.svg");
    cursor: pointer;
}

.see-more__icon::after {
    content: 'Watch more';
    position: absolute;
    width: 100px;
    top: 35px;
    left: -35px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--just-white);
}

.vertical-movie {
    min-width: 155px;
    height: 230px;
    margin: 10px;
}

.category-section__title, .search-section__title, .trends-section__little {
    position: sticky;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    height: 60px;
    top: 60px;
    background-color: #26252681;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive {
    display: none;
}

.movie-detail-section {
    width: 100%;
    height: auto;
    max-width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
    animation-name: flicker;
    animation-duration: .7s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 3;
    overflow-y: scroll;
}

.main-movie-detail-section {
    background-color: var(--hard-dark);
    height: auto;
    margin-top: 320px;
    padding-top: 10px;
}

.description-section {
    padding: 0 12px;
}

.header-description {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    align-items: center;
}

.header-description__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 6px;
}

#movie-rate {
    margin-left: 4px;
}

.favorite-button {
    width: 27px;
    height: 27px;
    background-image: url('../assets/icons/heart-free-icon-font.svg');
    align-self: flex-start;
    justify-self: flex-end;
}

.favorite-button--unlinked {
    background-image: url('../assets/icons/heart-free-icon-font.svg');
}

.favorite-button--linked {
    background-image: url('../assets/icons/heart-free-icon-font-filled.svg');
}

.header-description__rate {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 6px;
    justify-self: flex-end;
}

.description-section__description {
    font-size: 1.5rem;
}

.movie-categories {
    margin-bottom: 10px;
    color: var(--just-white);
    margin-left: 10px;
    padding: 0;
}

.movie-categories > li {
    display: inline;
    font-size: 1.5rem;
    margin-right: 10px;
}

.movie-categories > li::before {
    content: '. ';
    font-size: 4rem;
}

.movie-detail-section__recomend {
    margin-left: 12px;
    font-weight: 500;
}

.movies-container--recomend-section {
    background-color: var(--hard-dark);
}

.recomend-movie {
    min-width: 140px;
    height: 210px;
    margin: 8px;
}

.left-content-message {
    font-size: 1.6rem;
    text-align: center;
    margin: 15px 0;
}

.load-more-button {
    display: block;
    width: 180px;
    border: 3px solid var(--easy-gray);
    color: var(--just-white);
    padding: 10px;
    font-size: 1.6rem;
    text-align: center;
    margin: 15px auto;
    background-color: transparent;
}

.footer {
    width: 100%;
    padding: 20px 0 0;
    background-color: var(--easy-gray);
    position: fixed;
    bottom: 0;
}

.footer__title {
    color: var(--just-black);
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 16px 0;
}

.link {
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s;
}

.link:hover {
    transform: translateY(-10px);
}

.link--face {
    background-image: url("../assets/icons/facebook-free-icon-font.svg");
}

.link--github {
    background-image: url("../assets/icons/github-free-icon-font.svg");
}

.link--twitter {
    background-image: url("../assets/icons/twitter-free-icon-font.svg");
}

.link--linkedin {
    background-image: url("../assets/icons/linkedin-free-icon-font.svg");
}

@keyframes flicker {
    from {
        background-color: rgb(194, 194, 194);
    }
    to {
        background-color: rgb(138, 138, 138);
    }
}

@media screen and (min-width: 768px) {
    .search {
        justify-self: end;
        margin-right: 15px;
        width: 250px;
    }

    .header {
        height: 70px;
    }

    .header__menu-icon {
        width: 40px;
        height: 40px;
    }

    .header__logo {
        font-size: 4rem;
    }

    .back-arrow {
        display: none;
    }

    .main-movie-detail-section {
        margin-top: 360px;
    }

    .movie-detail-section {
        margin: 0 auto;
        background-repeat: repeat;
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px) {
    .search {
        width: 290px;
    }

    .welcome__title {
        font-size: 4.3rem;
    }

    .welcome__subtitle {
        font-size: 2.5rem;
    }

    .left-content-message {
        font-size: 2rem;
        margin: 20px 0;
    }

    .footer {
        position: static;
    }

    main {
        margin-bottom: 0;
    }

    .category-section__title, .search-section__title {
        font-size: 2.5rem;
        position: sticky;
        height: 70px;
        top: 70px;
        background-color: #26252681;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-movie-detail-section {
        margin-top: 380px;
    }

    .movie {
        min-width: 180px;
        height: 260px;
    }

    .movies-container--trending-preview {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .movies-container--vertical {
        max-width: 800px;
    }
}